@using Evernote.Entities
@model List<EvernoteNote>

@{
    ViewBag.Title = "Index";
}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Category -->
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <!-- Body -->
        <div class="col-md-9">
            <!-- Corusel -->
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://via.placeholder.com/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://via.placeholder.com/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://via.placeholder.com/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Notes -->
            <div class="row">
                @foreach (EvernoteNote note in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="http://via.placeholder.com/320x150" alt="@note.Title">
                            <div class="caption">
                                <h4>
                                    <a href="#">@note.Title</a>
                                </h4>
                                <p>
                                    @if (string.IsNullOrEmpty(note.Text) == false && note.Text.Length > 40)
                                    {
                                        // Substring belli indexten başlayıp belli karakterde almasını sağlar
                                        @(note.Text.Substring(0,40))
                                    }
                                    else
                                    {
                                        @note.Text
                                    }
                                </p>
                                <h6 class="text-right">
                                    <span class="glyphicon glyphicon-user"></span>@note.Owner.Username<br />
                                    <span class="glyphicon glyphicon-time"></span>@note.ModifiedOn.ToString("dd.MM.yy HH:mm")
                                </h6>
                            </div>

                            <div class="ratings">
                                <p class="pull-right"><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span>Comments</button></p>
                                <p><button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-heart"></span>@note.LikeCount</button></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>